@import "~bootstrap/scss/bootstrap.scss";


.customCard {
    background: rgb(32, 30, 30) !important;
}


.card-body{
    color:white;
    width: 50px;
    height:70px;
    font-size: 40px;
    padding:0px !important;
    vertical-align: middle !important;
   
}

.fa, .fab, .fal, .far, .fas {
    width: 40px;
    height:40px;
    padding-top:12px;
}